<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExposureMachine.ProgSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExposureMachine.ProgSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExposureMachine.ProgSettings>
            <setting name="LeftCameraXMirror" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftCameraYMirror" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightCameraXMirror" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightCameraYMirror" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftCamToRightChanged" serializeAs="String">
                <value>False</value>
            </setting>
        </ExposureMachine.ProgSettings>
    </userSettings>
    <applicationSettings>
        <ExposureMachine.ProgSettings>
            <setting name="LeftCameraSettings" serializeAs="String">
                <value>LeftCameraSettings.json</value>
            </setting>
            <setting name="RightCameraSettings" serializeAs="String">
                <value>RightCameraSettings.json</value>
            </setting>
            <setting name="ValvesSettings" serializeAs="String">
                <value>ValveSettings.json</value>
            </setting>
            <setting name="ExposureTime" serializeAs="String">
                <value>30</value>
            </setting>
        </ExposureMachine.ProgSettings>
    </applicationSettings>
</configuration>